<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
{#    <script src="{{ url_for('static',filename='script/jquery.min.js') }}" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>#}
{#    <script src="{{ url_for('static',filename='script/socket.io.js') }}" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>#}
    <script src="{{ url_for('static',filename='script/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='script/socket.io.js') }}"></script>
    <script src="{{ url_for('static',filename='script/peer_new.js') }}"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function (){
            $('form#test_connect').submit(function(event) {
                console.log("start connection");
                postFile($('#target').val());
                return false;
            });
        })
    </script>
    <link rel="stylesheet" href="{{ url_for('static',filename='style/peer.css') }}">

</head>
<p id="my_sid">my sid</p>
<form id="test_connect" method="POST" action="#">
    <label>
        <input type="text" id="target">
    </label>
    <input type="submit">
</form>
<div>
    <form>
        <input id="fileChooser" type="file" multiple="multiple" onchange="addFile()">
    </form>
</div>
<div id="downloadList">
    <table class="pure-table">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>progress</th>
                <th>option</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<div id="fileList">
    <table class="pure-table">
        <thead>
            <tr>
                <th>File id</th>
                <th>File name</th>
                <th>File size</th>
                <th>File url</th>
                <th>File delete</th>
            </tr>
        </thead>
        <tbody id="fileListTable" >

        </tbody>
    </table>
</div>
<body>

</body>
</html>