<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Peeeer!</title>
    <script src="{{ url_for('static',filename='script/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='script/socket.io.js') }}"></script>
    <script src="{{ url_for('static',filename='script/spark-md5.min.js') }}"></script>
    <script src="{{ url_for('static',filename='script/peer.js') }}"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function (){
            $('form#test_connect').submit(function(event) {
                console.log("start connection");
                postFile($('#target').val());
                return false;
            });
        })
    </script>
    <link rel="icon" type="image/png" sizes="144x144" href="{{ url_for('static',filename='image/favicon.png') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='style/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='style/peer.css') }}">
</head>
<body>
<div id="container">
    <h1><a href="#" style="font-size: 1.75em;font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;color: #444444"><b>Peeeer!</b></a>
        <span style="font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif">Share Your File P2P</span><span style="float: right;font-size: 0.5em;font-family: Arial;text-align: center">
        <a href="https://github.com/bugs-creator"><img class="icon" src="{{ url_for('static',filename='image/github.png') }}" alt=""></a>
        <a href="https://csgitlab.ucd.ie/bug_creator"><img class="icon" src="{{ url_for('static',filename='image/gitlab.png') }}" alt=""></a>
        <a href="mailto:wenrui.liu@ucdconnect.ie"><img class="icon" src="{{ url_for('static',filename='image/gmail.png') }}" alt=""></a></span></h1>

    <section>
        <p>This page is a WebRTC based P2P file system, it allows you to share files peer-to-peer with others.</p>

        <p>Select your file, and you will see the id generated for it by the server in the table below. Share it and your friends can download your file. <b>Note: </b>Any attempt to refresh the page will result in a lost connection and the server will delete your previous data. You need to keep this page alive during the connection.</p>

        <p>This system adopts multi-channel design to maximize transmission speed at the application layer. However, due to the architectural design of the browser, it may still be a little slow compared to the application.</p>

        <p>When you download a file, you also become a sharing peer and others can access the file through you. If multiple peers have the file, the web page will attempt to start downloading on multiple peers at the same time. This will greatly increase transmission speed.</p>

        <p>If you and your friends are on the same LAN, the download will not generate any network traffic.</p>

        <p><b>Only tested on Chrome!</b></p>
    </section>
    <section>
        <p  style="display: inline"><b id="connect_state">connecting to server...</b></p>
        <label id="my_sid" style="display: inline;width: fit-content;color: #444444"  ></label>
    </section>
    <section>
        <h2>Download File:</h2>
        <form id="test_connect" method="POST" action="#" style="display: inline">
            <label for="target">Request file: </label><input type="text" id="target" style="margin-right: 1em;margin-left: 1em" value="{{ default_input }}" readonly="readonly">
            <input type="submit" id="requestFile" value="request" class=input_out onmousemove="this.className='input_move'" onmouseout="this.className='input_out'">
        </form>
        <div id="downloadList">
        <table class="pure-table">
            <thead>
                <tr style="table-layout: fixed">
                    <th style="width: 12%">id</th>
                    <th style="width: 28%">name</th>
                    <th style="width: 22%">progress</th>
                    <th style="width: 13%">size</th>
                    <th style="width: 15%">state</th>
                    <th style="width: 10%">option</th>
                </tr>
            </thead>
            <tbody id="downloadListTable">
            <tr id="downloadTablePlaceHolder"><td colspan="6"><div>empty</div></td></tr>
            </tbody>
        </table>
    </div>
    </section>
    <section>
        <h2>My File:</h2>
        <div>
            <form style="display: inline">
                <label>Share your file: </label><input id="fileChooser" type="file" multiple="multiple" onchange="addFile()" style="margin-right:0;margin-left: 1em;padding-right: 0">
            </form>

            <label style="">verify:
                <input type="checkbox" id="verify_check">
            </label>
            <progress id="verify_progress" style="display: inline" value="0"></progress>
            <label id="verify_info">nothing verify</label>
        </div>

    <div id="fileList">
        <table class="pure-table" style="table-layout: fixed">
            <thead>
                <tr>
                    <th style="width: 10%">id</th>
                    <th style="width: 40%">name</th>
                    <th style="width: 20%">size</th>
                    <th style="width: 20%">url</th>
                    <th style="width: 10%">option</th>
                </tr>
            </thead>
            <tbody id="fileListTable" >
            <tr id="fileTablePlaceHolder"><td colspan="5"><div>empty</div></td></tr>
            </tbody>
        </table>
    </div>
    </section>




</div>
</body>
</html>